.product{
    width: 300px;
    padding: 1rem;
    background-color: #f4f4f4;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product >img{
    border-radius: 8px;
    height: 170px;
}
.product__info>p{
    margin-bottom: 8px;
}
.info__price{
    font-weight:bold;
}
.info__name{
    font-size: 1rem;
    overflow: hidden;
}
.info__description{
    font-size: 0.8rem;
}
.info__button{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #171717;
    background-color: #f4f4f4;
    padding: 8px 16px;
    border: 1px solid #171717;
    font-size: 1rem;
}
.info__button:hover{
    background-color: #171717;
    color: #f4f4f4;
}
@media(max-width:1232px){
    .product{
        width: 360px;
    }
}
@media(max-width:1099px){
    .product{
        width: 330px;
    }
}
@media(max-width:1003px){
    .product{
        width: 300px;
    }
}
@media(max-width:960px){
    .product{
        width: 400px;
    }
}
@media(max-width:802px){
    .product{
        width: 360px;
    }
}
@media(max-width:723px){
    .product{
        width: 320px;
    }
}
@media(max-width:645px){
    .product{
        width: 280px;
    }
}
@media(max-width:630px){
    .product{
        width: 420px;
    }
}
@media(max-width:450px){
    .product{
        width: 360px;
    }
}
@media(max-width:360px){
    .product{
        width: 300px;
    }
}
@media(max-width:300px){
    .product{
        width: 260px;
    }
}
